#imagen {
  width: 100%;
  max-width: 500px; 
  min-width: 260px; 
  float:right; 
  margin-right: 20px
}
#pregunta{
	text-align: center;
}
.grid-container{
	display: grid;
	grid-template-columns: 50% 50%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.textoP{
	text-align: center;
}
}
#resultado{
	width: 100%;
  max-width: 500px; 
  min-width: 260px;
}
